*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

// mixin

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
@mixin fontHeader {
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
@mixin todos {
    font-size: 1rem;
   
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
// variables

$btn-success: green;
$btn-danger: red;
$white: #fff;


body {
  background-color: rgb(126, 223, 223);
  @include fontHeader;
  @include flexBox();
  min-height: 100vh;

}
h2{
    @include flexBox;
}
h3{
    @include todos;
}
#removeAll {
  background-color: $btn-danger;
  color: $white;
}
.add {
  background-color: $btn-success;
  color: $white;
}

// nested

form {
  input,
  button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 2rem
  }
}
.container{
    @include flexBox();
    flex-direction: column;
    background-color: cadetblue;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba($color: #8f8f8f, $alpha: 1.0);
}

.btn{
    padding: .4rem 1.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
}
